/**
 * Site header
 */
 button {
  margin: 10px 0;
  padding: 5px 25px;
  width: fit-content;
  cursor: pointer;
  background-color: white;
  border: 2px solid $--neutral-700;
  border-radius: 25px;
}

button:hover {
  background-color: $--neutral-000;
  border: 2px solid $--primary-500;
  box-shadow: 2px 2px 15px -2px $--primary-500
}

button:hover h5 {
  color: $--primary-700;
}

.resume h2{
  padding: 3rem 0 1rem;
}

.job {
  padding: 1.5rem 0 0;
}

.job-description {
  padding: 0 0 0.7rem;
  margin: 0;
}

.school {
  padding: 1.5rem 0 0;
}

.li-container {
  position: relative;
}

ul.skills {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills li {
  display: inline;
}

.skill-bar { 
  position: absolute;
  top: 6px;
  left: 60%;
  height: 0.75rem;
  max-width: 40%;
  width: 100%;
  background: $--neutral-300;
  border-radius: 1.563rem;
}

.skill-bar > span {
  display: block;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $--primary-500;
  position: relative;
  overflow: hidden;
}

ul.skills :first-child .skill-bar > span {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}  

/* Resume - tablet & desktop */
@media screen and (min-width: 740px) {

  button {
      position: absolute;
      right: 0px;
      top: 64px;
  }

  .resume {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(47%, 1fr));
      column-gap: 6%;
      row-gap: 0;
  }

}